<section>
  <div class="example-container">
    <form fxLayout="column" fxLayoutAlign="center center" #f="ngForm" fxLayoutGap="10px" (ngSubmit)="onSubmit(f)">
      <mat-form-field>
        <input
          required
          email
          placeholder="Insert your email"
          matInput
          ngModel
          name="email"
          #emailInput="ngModel">
          <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty</mat-error>          
          <mat-error *ngIf="!emailInput.hasError('required')">Email is invalid</mat-error>
      </mat-form-field>

      <mat-form-field hintLabel="At least 6 characters long">
        <input
          required
          matInput
          placeholder="Insert your password"
          ngModel
          name="password"
          #pwInput="ngModel">
        <mat-hint align="end">{{ pwInput.value?.length }}/6</mat-hint>
        <mat-error *ngIf="pwInput.hasError('required')">Password is required</mat-error>        
        <mat-error *ngIf="!pwInput.hasError('required')">Password must be at least 6 characters long</mat-error>
      </mat-form-field>

      <!-- <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Your birthdate">
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
            [max]="maxDate"
            ngModel
            name="Birthday"
            required></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
      </mat-form-field> -->

      <mat-checkbox required>Agree to Terms and Conditions</mat-checkbox>

      <button mat-raised-button color="primary" [disabled]="f.invalid"type="submit">Submit</button>
    </form>
  </div>
</section>