<mat-nav-list>
        <a
            mat-list-item
            class="nav-caption"
            routerLink="/signup"
            (click)="onClose()"
            *ngIf="!isAuth">
            <mat-icon>face</mat-icon>
            <span>Signup</span></a>
        <a
            mat-list-item
            class="nav-caption"
            routerLink="/login"
            (click)="onClose()"
            *ngIf="!isAuth">
            <mat-icon>face</mat-icon>
            Login</a>
        <a
            mat-list-item
            class="nav-caption"
            routerLink="/training"
            (click)="onClose()"
            *ngIf="isAuth">
            <mat-icon>face</mat-icon>
            Training</a>
        <mat-list-item>
            <button mat-icon-button (click)="onClose()" *ngIf="isAuth">
                <mat-icon>eject</mat-icon>
                <span class="nav-caption">Logout</span>
            </button>
        </mat-list-item>             
</mat-nav-list>