<div class="wecome" fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="10px" fxLayoutAlign="center center">
  <section>
    <h1>ACTIVITY</h1>
    <p>Stay active</p>
  </section>
  <section>
      <h1>2</h1>
      <p>Stay active</p>
    </section>
    <section>
        <h1>3</h1>
        <p>Stay active</p>
      </section>
</div>