<mat-tab-group *ngIf="!ongoingTraining">
  <mat-tab label="New exercise">
    <app-new-training></app-new-training>
  </mat-tab>
  <mat-tab label="Past exercises">
    <app-past-trainings></app-past-trainings>
  </mat-tab>  
</mat-tab-group>

<app-current-training *ngIf="ongoingTraining"></app-current-training>